* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(212, 212, 212);
    height: 100vh;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product {
    margin: 2rem;
    display: flex;
    background: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: row;
    overflow: hidden; /*så att det inte spiller ut */
    max-width: 60rem;
    height: 45%;
}

.product figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: rgb(255, 208, 0);

    padding: 2rem;
    flex: 1;
}

.product figure img {
    max-width: 100%; /* så att bilden är responsiv*/
    height: 100%;
    padding: 7rem 2rem 5rem 2rem;
}

.product figure figcaption {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-end;
}

.product aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px; /* runt texten*/
    flex: 1; /* låter denna section växa och ta upp andra halvan */
}

.product aside h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product aside h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
}

button {
    border-radius: 10px;
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    transition: 0.3 ease;
}
